*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #B68C5A;
    --text-color: #FFFFFF;
    --mouse-color: #076aff;
     --color-contact:#F3F3F3;
}

.btn-custom{
    background: var(--primary-color)!important;
    color: var(--text-color);
}
.btn-custom:hover{
    background: var( --mouse-color);
}
.max-width-60{
max-width: 60%;
}
.img-container{
    display: flex;
    flex: row;
    height: 60px;
    width: 75%;
    gap: 15px;
}
.legal-img-size{
    width: 71.8px;
}
.sec1, .sec2{
    flex-basis: 50%;
}

.carousel-item {
    max-height: 500px !important;
}

.carousel-item>img {
    filter: brightness(30%);

}
.faq{
    width: 100%;
}
li{
    list-style-type: none;
}
.faq-item{
    border: none;
    background: #F3F3F3!important;
border-radius: 8px;
padding: 10px 5px;
}
 
.faq-button:focus {
    background: none!important;
    border: none!important;
    color: black!important;
    outline: none;
  }
  .faq-button:active {
    background: none!important;
    border: none!important;
    color: black!important;
    outline: none;
  }


  .faq-button{
    background: none!important;
    border: none!important;
    color: black!important;
    outline: none;
  }
  .contact-1{
    background: var(--color-contact);
    border: 1px solid white;
  }
  .contact-us>input, .contact-us>textarea{
    background: var(--color-contact);
    border: none;
    outline: none;
    padding: 20px ;
    border-radius: 8px;
  }
 
 
@media only screen and (max-width: 600px) {
    .max-width-60{
        max-width: 95%;
        }
        .img-container{
            display: flex;
            height: 100%;
            width: 95%;
            flex-direction: column!important;
        }
        .faq{
    flex-direction: column!important;
        }
        .sec1, .sec2{
            flex-basis: 100%;
        }
        footer{
            text-align: center;
        }
  }